# Import Library

In [81]:
# Import library esensial pandas & numpy
import pandas as pd
import numpy as np 

# Data Splitting
from sklearn.model_selection import train_test_split 

# MinMaxScaler transformasi Data
from sklearn.preprocessing import MinMaxScaler 

# StandarScaler transformasi Data
from sklearn.preprocessing import StandardScaler 

# Menangani nilai NULL
from sklearn.impute import SimpleImputer 

# One-Hot Encoding
from sklearn.preprocessing import OneHotEncoder

# Read Data

In [4]:
dataset_split = pd.read_csv("CO2 Emissions_Canada.csv")

In [5]:
dataset_split.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

# Attribute, Label, dan Value Dataset

In [6]:
dataset_split.dtypes

Make                                 object
Model                                object
Vehicle Class                        object
Engine Size(L)                      float64
Cylinders                             int64
Transmission                         object
Fuel Type                            object
Fuel Consumption City (L/100 km)    float64
Fuel Consumption Hwy (L/100 km)     float64
Fuel Consumption Comb (L/100 km)    float64
Fuel Consumption Comb (mpg)           int64
CO2 Emissions(g/km)                   int64
dtype: object

# Record Dataset

In [7]:
dataset_split.shape

(7385, 12)

# Data Splitting

In [8]:
X = dataset_split.iloc[:, :-1]
y = dataset_split.iloc[:, -1]

### Alokasikan training set ke 0.3 atau perbandingan 70:30

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3)

In [10]:
print("Dimensi X_train :", X_train.shape)
print("Dimensi X_test :", X_test.shape)
print("Dimensi y_train :", y_train.shape)
print("Dimensi y_test : ", y_test.shape)

Dimensi X_train : (5169, 11)
Dimensi X_test : (2216, 11)
Dimensi y_train : (5169,)
Dimensi y_test :  (2216,)

# Data Transforming

## Normalisasi Data

In [12]:
min_max_scaler = MinMaxScaler()

### Buat copy dari variabel dataset awal yang diassign ke variabel lain

In [15]:
dataset_split_copy = dataset_split.copy()

In [16]:
dataset_split_copy.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [20]:
# Normalisasi data pada atribut Fuel Consumption Hwy
x_norm = min_max_scaler.fit_transform(
    dataset_split_copy[['Fuel Consumption Hwy (L/100 km)']]
)

In [21]:
data_normalisasi = pd.DataFrame(x_norm)

### Hasil

In [35]:
data_normalisasi.head()

          0
0  0.162651
1  0.222892
2  0.108434
3  0.307229
4  0.283133

## Standarisasi Data

### Membuat copy dataset

In [25]:
dataset_standard_copy = dataset_split.copy()

### Nilai sebelum di standarisasi

In [27]:
np.std(dataset_standard_copy)

Engine Size(L)                       1.354079
Cylinders                            1.828183
Fuel Consumption City (L/100 km)     3.500037
Fuel Consumption Hwy (L/100 km)      2.224306
Fuel Consumption Comb (L/100 km)     2.892310
Fuel Consumption Comb (mpg)          7.231390
CO2 Emissions(g/km)                 58.508718
dtype: float64

In [28]:
standard_scaler = StandardScaler()

In [30]:
x_standard = standard_scaler.fit_transform(
    dataset_standard_copy[[
        'Engine Size(L)','Cylinders','Fuel Consumption City (L/100 km)',
        'Fuel Consumption Hwy (L/100 km)', 'Fuel Consumption Comb (L/100 km)',
        'Fuel Consumption Comb (mpg)', 'CO2 Emissions(g/km)']]
)

### Nilai sesudah di standarisasi

In [31]:
np.std(x_standard)

1.0

### Data yang sudah di standarisasi dimasukkan ke variabel dan dibuat menjadi DataFrame agar dapat ditampilkan

In [33]:
data_standarisasi_baru = pd.DataFrame(x_standard)

In [34]:
data_standarisasi_baru.head()

          0         1         2         3         4         5         6
0 -0.856721 -0.883408 -0.759002 -1.052781 -0.855742  0.763110 -0.932933
1 -0.561317 -0.883408 -0.387577 -0.603202 -0.475423  0.209966 -0.505646
2 -1.225976 -0.883408 -1.873275 -1.457401 -1.754677  2.837400 -1.958421
3  0.251043  0.210575  0.040990  0.026208  0.043193 -0.343178  0.075464
4  0.251043  0.210575 -0.130437 -0.153624 -0.129679 -0.066606 -0.112542

# Data Cleaning

### Mengecek apakah dataset memiliki nilai NULL

In [36]:
dataset_split.isna().sum()

Make                                0
Model                               0
Vehicle Class                       0
Engine Size(L)                      0
Cylinders                           0
Transmission                        0
Fuel Type                           0
Fuel Consumption City (L/100 km)    0
Fuel Consumption Hwy (L/100 km)     0
Fuel Consumption Comb (L/100 km)    0
Fuel Consumption Comb (mpg)         0
CO2 Emissions(g/km)                 0
dtype: int64

### Karena dataset awal tidak memiliki nilai NULL, kita import Dataset yang sudah kita rusak

In [52]:
dataset_rusak = pd.read_csv("CO2 Emissions_Canada_Rusak.csv")

In [53]:
dataset_rusak.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,NaN
1,NaN,ILX,COMPACT,2.4,4,M6,Z,11.2,NaN,9.6,29,NaN
2,ACURA,NaN,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,NaN
3,ACURA,MDX 4WD,NaN,3.5,6,AS6,Z,12.7,NaN,11.1,25,NaN
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,NaN,8.7,10.6,27,244.0

### Melihat jumlah dataset yang rusak per-atributnya

In [54]:
dataset_rusak.isna().sum()

Make                                6
Model                               4
Vehicle Class                       6
Engine Size(L)                      0
Cylinders                           0
Transmission                        0
Fuel Type                           0
Fuel Consumption City (L/100 km)    4
Fuel Consumption Hwy (L/100 km)     3
Fuel Consumption Comb (L/100 km)    3
Fuel Consumption Comb (mpg)         0
CO2 Emissions(g/km)                 7
dtype: int64

### Melihat semua kolom dan baris yang rusak dengan tabel

In [55]:
dataset_rusak[dataset_rusak.isnull().any(axis=1)]

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,NaN
1,NaN,ILX,COMPACT,2.4,4,M6,Z,11.2,NaN,9.6,29,NaN
2,ACURA,NaN,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,NaN
3,ACURA,MDX 4WD,NaN,3.5,6,AS6,Z,12.7,NaN,11.1,25,NaN
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,NaN,8.7,10.6,27,244.0
5,ACURA,RLX,NaN,3.5,6,AS6,Z,11.9,7.7,10.0,28,NaN
6,NaN,TL,MID-SIZE,3.5,6,AS6,Z,11.8,8.1,10.1,28,232.0
8,ACURA,TL AWD,NaN,3.7,6,M6,Z,13.4,9.5,NaN,24,267.0
9,ACURA,NaN,COMPACT,2.4,4,AS5,Z,NaN,7.5,9.2,31,212.0
10,NaN,TSX,COMPACT,2.4,4,M6,Z,11.2,8.1,9.8,29,225.0
12,ALFA ROMEO,4C,TWO-SEATER,1.8,4,AM6,Z,9.7,NaN,NaN,34,193.0
14,NaN,RAPIDE,NaN,5.9,12,A6,Z,18.0,12.6,15.6,18,359.0
15,ASTON MARTIN,V8 VANTAGE,TWO-SEATER,4.7,8,AM7,Z,17.4,11.3,14.7,19,NaN
17,ASTON MARTIN,V8 VANTAGE S,TWO-SEATER,4.7,8,AM7,Z,NaN,11.3,14.7,19,338.0
18,ASTON MARTIN,NaN,TWO-SEATER,4.7,8,M6,Z,18.1,12.2,15.4,18,354.0
20,AUDI,A4,NaN,2.0,4,AV8,Z,9.9,7.4,8.8,32,202.0
21,AUDI,A4 QUATTRO,COMPACT,2.0,4,AS8,Z,11.5,8.1,NaN,28,NaN
23,NaN,A5 CABRIOLET QUATTRO,SUBCOMPACT,2.0,4,AS8,Z,11.5,8.1,10.0,28,230.0
25,AUDI,NaN,SUBCOMPACT,2.0,4,M6,Z,10.8,7.5,9.3,30,214.0
27,AUDI,A6 QUATTRO,MID-SIZE,3.0,6,AS8,Z,NaN,8.6,10.9,26,251.0
29,AUDI,A7 QUATTRO,NaN,3.0,6,AS8,Z,13.3,8.5,11.2,25,262.0
31,NaN,A8,MID-SIZE,3.0,6,AS8,Z,13.1,8.8,11.2,25,258.0

### Mengganti nilai NULL kolom bilangan bulat dengan median

In [56]:
imputer = SimpleImputer(strategy='median')

### Memperbaiki kolom CO2 Emissions

In [57]:
dataset_rusak['CO2 Emissions(g/km)'] = imputer.fit_transform(dataset_rusak[['CO2 Emissions(g/km)']])

In [58]:
dataset_rusak.isna().sum()

Make                                6
Model                               4
Vehicle Class                       6
Engine Size(L)                      0
Cylinders                           0
Transmission                        0
Fuel Type                           0
Fuel Consumption City (L/100 km)    4
Fuel Consumption Hwy (L/100 km)     3
Fuel Consumption Comb (L/100 km)    3
Fuel Consumption Comb (mpg)         0
CO2 Emissions(g/km)                 0
dtype: int64

In [59]:
dataset_rusak.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,246.0
1,NaN,ILX,COMPACT,2.4,4,M6,Z,11.2,NaN,9.6,29,246.0
2,ACURA,NaN,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,246.0
3,ACURA,MDX 4WD,NaN,3.5,6,AS6,Z,12.7,NaN,11.1,25,246.0
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,NaN,8.7,10.6,27,244.0

### Mengganti nilai NULL kolom bilangan desimal dengan mean

### Memperbaiki kolom Fuel Consumption Comb, Fuel Consumption Hwy, dan Fuel Consumption City

In [60]:
imputer = SimpleImputer(strategy='mean')

In [61]:
dataset_rusak['Fuel Consumption Comb (L/100 km)'] = imputer.fit_transform(dataset_rusak[['Fuel Consumption Comb (L/100 km)']])
dataset_rusak['Fuel Consumption Hwy (L/100 km)'] = imputer.fit_transform(dataset_rusak[['Fuel Consumption Hwy (L/100 km)']])
dataset_rusak['Fuel Consumption City (L/100 km)'] = imputer.fit_transform(dataset_rusak[['Fuel Consumption City (L/100 km)']])

In [62]:
dataset_rusak.isna().sum()

Make                                6
Model                               4
Vehicle Class                       6
Engine Size(L)                      0
Cylinders                           0
Transmission                        0
Fuel Type                           0
Fuel Consumption City (L/100 km)    0
Fuel Consumption Hwy (L/100 km)     0
Fuel Consumption Comb (L/100 km)    0
Fuel Consumption Comb (mpg)         0
CO2 Emissions(g/km)                 0
dtype: int64

### Mengganti nilai NULL kolom tulisan dengan modus

### Memperbaiki kolom Make, Model, dan Vehicle Class

In [65]:
imputer = SimpleImputer(strategy='most_frequent')

In [66]:
dataset_rusak['Make'] = imputer.fit_transform(dataset_rusak[['Make']])
dataset_rusak['Model'] = imputer.fit_transform(dataset_rusak[['Model']])
dataset_rusak['Vehicle Class'] = imputer.fit_transform(dataset_rusak[['Vehicle Class']])

In [67]:
dataset_rusak.isna().sum()

Make                                0
Model                               0
Vehicle Class                       0
Engine Size(L)                      0
Cylinders                           0
Transmission                        0
Fuel Type                           0
Fuel Consumption City (L/100 km)    0
Fuel Consumption Hwy (L/100 km)     0
Fuel Consumption Comb (L/100 km)    0
Fuel Consumption Comb (mpg)         0
CO2 Emissions(g/km)                 0
dtype: int64

In [68]:
dataset_rusak.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.900000,6.70000,8.5,33,246.0
1,FORD,ILX,COMPACT,2.4,4,M6,Z,11.200000,9.04217,9.6,29,246.0
2,ACURA,F-150 FFV,COMPACT,1.5,4,AV7,Z,6.000000,5.80000,5.9,48,246.0
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.700000,9.04217,11.1,25,246.0
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.556171,8.70000,10.6,27,244.0

## Menangani Nilai Duplikat

In [69]:
dataset_rusak[dataset_rusak.duplicated()]

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
1082,ASTON MARTIN,DB9,MINICOMPACT,5.9,12,A6,Z,18.0,12.6,15.6,18,359.0
1105,AUDI,A6 QUATTRO TDI (modified),MID-SIZE,3.0,6,AS8,D,9.8,6.2,8.1,35,217.0
1107,AUDI,A7 QUATTRO TDI (modified),MID-SIZE,3.0,6,AS8,D,9.8,6.2,8.1,35,217.0
1110,AUDI,A8 TDI (modified),MID-SIZE,3.0,6,AS8,D,9.8,6.5,8.4,34,224.0
1114,AUDI,A8L TDI (modified),FULL-SIZE,3.0,6,AS8,D,9.8,6.5,8.4,34,224.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7356,TOYOTA,Tundra,PICKUP TRUCK - STANDARD,5.7,8,AS6,X,17.7,13.6,15.9,18,371.0
7365,VOLKSWAGEN,Golf GTI,COMPACT,2.0,4,M6,X,9.8,7.3,8.7,32,203.0
7366,VOLKSWAGEN,Jetta,COMPACT,1.4,4,AS8,X,7.8,5.9,7.0,40,162.0
7367,VOLKSWAGEN,Jetta,COMPACT,1.4,4,M6,X,7.9,5.9,7.0,40,163.0
7368,VOLKSWAGEN,Jetta GLI,COMPACT,2.0,4,AM7,X,9.3,7.2,8.4,34,196.0

In [70]:
dataset_rusak.drop_duplicates(inplace=True)

In [71]:
dataset_rusak[dataset_rusak.duplicated()]

Empty DataFrame
Columns: [Make, Model, Vehicle Class, Engine Size(L), Cylinders, Transmission, Fuel Type, Fuel Consumption City (L/100 km), Fuel Consumption Hwy (L/100 km), Fuel Consumption Comb (L/100 km), Fuel Consumption Comb (mpg), CO2 Emissions(g/km)]
Index: []

In [72]:
dataset_rusak.duplicated().sum()

0

# Mengganti tipe salah satu atribut angka

### Mengganti atribut CO2 Emissions dari float64 ke int64

In [75]:
dataset_rusak['CO2 Emissions(g/km)'] = dataset_rusak['CO2 Emissions(g/km)'].astype('int64')

In [76]:
dataset_rusak.dtypes

Make                                 object
Model                                object
Vehicle Class                        object
Engine Size(L)                      float64
Cylinders                             int64
Transmission                         object
Fuel Type                            object
Fuel Consumption City (L/100 km)    float64
Fuel Consumption Hwy (L/100 km)     float64
Fuel Consumption Comb (L/100 km)    float64
Fuel Consumption Comb (mpg)           int64
CO2 Emissions(g/km)                   int64
dtype: object

In [77]:
dataset_rusak.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.900000,6.70000,8.5,33,246
1,FORD,ILX,COMPACT,2.4,4,M6,Z,11.200000,9.04217,9.6,29,246
2,ACURA,F-150 FFV,COMPACT,1.5,4,AV7,Z,6.000000,5.80000,5.9,48,246
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.700000,9.04217,11.1,25,246
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.556171,8.70000,10.6,27,244

# Melakukan One-Hot Encoding

In [82]:
onehot_encoder = OneHotEncoder(sparse=False)

In [84]:
onehot1 = onehot_encoder.fit_transform(dataset_rusak[['Make']])
onehot2 = onehot_encoder.fit_transform(dataset_rusak[['Model']])
onehot3 = onehot_encoder.fit_transform(dataset_rusak[['Vehicle Class']])

In [86]:
df_onehot1 = pd.DataFrame(onehot1)
df_onehot2 = pd.DataFrame(onehot2)
df_onehot3 = pd.DataFrame(onehot3)

In [90]:
dataset_rusak = dataset_rusak.join(df_onehot1)
dataset_rusak = dataset_rusak.join(df_onehot2)
dataset_rusak = dataset_rusak.join(df_onehot3)

In [93]:
dataset_rusak.head(10)

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),...,32,33,34,35,36,37,38,39,40,41
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.900000,6.70000,8.500000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,FORD,ILX,COMPACT,2.4,4,M6,Z,11.200000,9.04217,9.600000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ACURA,F-150 FFV,COMPACT,1.5,4,AV7,Z,6.000000,5.80000,5.900000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.700000,9.04217,11.100000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.556171,8.70000,10.600000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,ACURA,RLX,SUV - SMALL,3.5,6,AS6,Z,11.900000,7.70000,10.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,FORD,TL,MID-SIZE,3.5,6,AS6,Z,11.800000,8.10000,10.100000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,ACURA,TL AWD,MID-SIZE,3.7,6,AS6,Z,12.800000,9.00000,11.100000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,ACURA,TL AWD,SUV - SMALL,3.7,6,M6,Z,13.400000,9.50000,10.975467,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,ACURA,F-150 FFV,COMPACT,2.4,4,AS5,Z,12.556171,7.50000,9.200000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0